<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>COMBO MAKER ONLINE</title>
</head>
<body>
    <h1>COMBO MAKER ONLINE</h1>
    <div>
        <a href="/sf6" class="button">
            <img src="{{ url_for('static', filename='images/sf6Logo.png') }}" alt="Street Fighter 6">
        </a>
        <a href="/tekken8" class="button">
            <img src="{{ url_for('static', filename='images/tekLogo.png') }}" alt="Tekken 8">
        </a>
    </div>
</body>
</html>
